[Unit]
Description={name} compilation publisher

[Service]
Type=oneshot
WorkingDirectory={working_directory}
ExecStart=/usr/bin/env pipenv run python src/compilation.py
