[Unit]
Description={name} payout script

[Service]
Type=oneshot
WorkingDirectory={working_directory}
ExecStart=/usr/bin/env pipenv run python src/payout.py
